.title {
    background-color: midnightblue;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.nav-list {
    display: flex;
   
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list li {
    width: max-content;
}

.foodtitle {
    background-color: bisque;
    font-size: 36px;
}