.title {
    background-color: midnightblue;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

header {
    border: 0.5rem solid saddlebrown;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list li {
   /* flex-grow: 1;
    flex-shrink: 1; */
}

.foodtitle {
    background-color: bisque;
    font-size: 36px;
}

.columns {
    display: flex;
    gap: 2rem;
    width: 800px;
    border: 10px solid firebrick;
}

.descriptions {
    padding: 1rem;
    background: green;
}

.columns > * {
    flex: 1;
}